.DS_Store
*.log

# Workspace artifacts
.dart_tool/
docs/

# Dart / Flutter
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub/
**/doc/api/
**/build/

# Server build output
translation_study_app_server/web/app/
